<ion-header>
  <ion-toolbar color="navduoc">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu2"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-app">
    <img src="assets/logosolo.png" alt="logo-registrapp">
  </div>
  <div class="container">
    <ion-button routerLink="/asistencia" class="btn-asistencia">
      Registrar Asistencia
    </ion-button>
  </div>


  <div class="final-bar">
  </div>

</ion-content>

