<ion-header [translucent]="true">
  <ion-toolbar color="navduoc">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-content">
    <div class="logo-app">
      <img src="assets/Logo-DUOC-transparente.png" alt="logo-registrapp">
    </div>
    <div class="login-form">
      <div class="label-correo">
        <label>Correo Institucional</label>
      </div>
      <input type="text">
      <div class="label-contraseña">
        <label>Contraseña</label>
      </div>
      <input type="password">
      
     

    </div>



    <div class="button-login">
    <ion-button routerLink="/login" color="navduoc">Log In</ion-button>
    </div>
    <div class="pass-reco">
      <a routerLink="#">¿Olvidaste tu contraseña?</a>
    </div>
    <div class="final-content">
      <small>Aún no estás registrado?</small>
      <div class="registro-link">
        <a routerLink="/registro">Regístrate aquí</a>
      </div>
    </div>
    <div class="marca-r">
      <h1>Duoc UC ®</h1>
    </div>

  </div>
  <div class="final-bar">
  </div>
</ion-content>
