<ion-header>
  <ion-toolbar color="navduoc">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu3"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <div class="logo-app">
      <img src="assets/imagen_por_defecto.jpg" alt="logo-registrapp">
    </div>
    <div class="container">
      <ion-button routerLink="/deploycamera" class="btn-asistencia">
        Registrar Asistencia
      </ion-button>
    </div>
    <div class="final-bar">
    </div>

</ion-content>

