<ion-header>
  <ion-toolbar color="navduoc">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-content">
    <div class="logo-app">
      <img src="assets/Logo-DUOC-transparente.png" alt="logo-registrapp">
    </div>
    <div class="app-title">
      <h1>RegistrAPP</h1>
    </div>
    <div class="button-login">
    <ion-button routerLink="/login" color="navduoc">Iniciar Sesión</ion-button>
    </div>
    <div class="final-content">
      <small>Aún no estás registrado?</small>
      <div class="registro-link">
        <a routerLink="/registro">Regístrate aquí</a>
      </div>
    </div>
    <div class="marca-r">
      <h1>Duoc UC ®</h1>
    </div> 
    <div class="final-bar">
    </div>
  </div>
</ion-content>
