<ion-header [translucent]="true">
  <ion-toolbar color="navduoc">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">
    <div class="home-content">
      <div class="labels">
        <form [formGroup]="docenteForm">

            <ion-label>Datos Personales</ion-label>
          <ion-item>
            <ion-label>Nombre:</ion-label>
            <ion-input formControlName="nombre" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Apellido:</ion-label>
            <ion-input formControlName="apellido" type="text"></ion-input>
          </ion-item>
            <ion-label>Asignaturas</ion-label>
          <app-asignaturas></app-asignaturas>
            <ion-label>Período académico</ion-label>
          <ion-item>
            <ion-label>Año:</ion-label>
            <ion-input formControlName="año" type="Number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Semestre:</ion-label>
            <ion-input formControlName="semestre" type="Number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Horas Semanales:</ion-label>
            <ion-input formControlName="horassemanales" type="number"></ion-input> 
          </ion-item>
            <ion-label>Contraseña:</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>

            <ion-label>Confirmar contraseña:</ion-label>
            <ion-input formControlName="password2" type="password"></ion-input> 

        </form>
      </div>
      <div class="buttons">
        <ion-button (click)="guardar()" color="navduoc">Registrar</ion-button>
      </div>
    </div>

    <div class="final-bar">
    </div>
  </div>
</ion-content>