
ion-toolbar{
    background-color: var(--ion-color-navduoc);
  }
  
ion-menu-button{
    color: white;
  }

  .btn-asistencia{
    margin: 0 auto;
  }
  .container {
    text-align: center;
    margin-top: 40em;
  }
  .home-content{
    height: 100%;
    text-align: center;
    align-items: end;
  }
  
  .logo-app img{
    padding-top: 30%;
    padding-left:2%;
    height: 20%;
    width: 70%;
  }
  
  ion-button{
    margin-top: 40%;
    background-color: var(--ion-color-navduoc);
  }
  
  .final-bar{
    background-color: #F1C232;
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .qrcode{
    text-align: center;
  }
  
  .final-content{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-top: 40%;
    padding-right: 20px;
  }
  
  .marca-r h1{
    margin: 0;
    padding-top: 10px;
    font-size: medium;
    padding-left: 20px;
    text-align: left;
  }
  
  .registro-link {
    font-weight: bold; 
    align-self: flex-end; 
    font-size: medium;
  }
  
  
  